apiVersion: v1
kind: Service
metadata:
  name: nodejs-service
  labels:
    app: nodejs-demo-app
spec:
  type: LoadBalancer
  selector:
    name: nodejs-pod
    app: nodejs-demo-app
  ports:
  - port: 80
    targetPort: 80
    protocol: TCP