apiVersion: apps/v1
kind: Deployment
metadata:
  name: nodjs-deployment
spec:
  selector:
    matchLabels:
      name: nodjs-pod
      app: nodjs-demo-app
  template:
    metadata:
      labels:
        name: nodjs-pod
        app: nodjs-demo-app
    spec:
      containers:
      - name: myapp
        image: karimomar71/node-app:latest
        resources:
        ports:
        - containerPort: 80     